/*
      html5doctor.com Reset Stylesheet
      v1.6.1
      Last Updated: 2010-09-17
      Author: Richard Clark - http://richclarkdesign.com
      Twitter: @rich_clark
      */
      html, body, div, span, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      abbr, address, cite, code,
      del, dfn, em, img, ins, kbd, q, samp,
      small, strong, sub, sup, var,
      b, i,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, figcaption, figure,
      footer, header, hgroup, menu, nav, section, summary,
      time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
      }
      body {
        line-height:1;
      }
      article,aside,details,figcaption,figure,
      footer,header,hgroup,menu,nav,section {
        display:block;
      }
      nav ul {
        list-style:none;
      }
      blockquote, q {
        quotes:none;
      }
      blockquote:before, blockquote:after,
      q:before, q:after {
        content:'';
        content:none;
      }
      a {
        margin:0;
        padding:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
        position:
      }
      /* change colours to suit your needs */
      ins {
        background-color:#ff9;
        color:#000;
        text-decoration:none;
      }
      /* change colours to suit your needs */
      mark {
        background-color:#ff9;
        color:#000;
        font-style:italic;
        font-weight:bold;
      }
      del {
        text-decoration: line-through;
      }
      abbr[title], dfn[title] {
        border-bottom:1px dotted;
        cursor:help;
      }
      table {
          border-collapse:collapse;
          border-spacing:0;
      }
      /* change border colour to suit your needs */
      hr {
        display:block;
        height:1px;
        border:0;
        border-top:1px solid #cccccc;
        margin:1em 0;
        padding:0;
      }
      input, select {
          vertical-align:middle;
      }
      /*//////////////////MYCODE//////////////////*/
      body {
        display: inline-flex;
        width: 100%;
      }
      .mainbody {
        width: 60%;
      }
      .rightbody {
        width: 40%;
      }
      .main {
        margin: 0 0 0 80px;
        max-width:800px;
      }
      .right {
        padding: 10px 10px 10px 10px;
        display:inline-block;
        border-radius:10px;
        box-shadow:-10px 10px 20px #FFFF00;
        background-color: rgba(255, 255, 255, 1);
      }
      .title {
        margin: 40px 0 0px 0;
        font-family: 'Major Mono Display', monospace;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 15px;
        position: -webkit-sticky;
        position: sticky;
        top: -20px;
      }
      .nav {
        margin: 30px 0 20px 0;
        font-family: 'Major Mono Display', monospace;
        font-size: 24px;
        font-weight: bold;
        line-height:20px;
      }
      .subtitle {
        margin: 30px 0 15px 0;
        padding:13px 8px 13px 8px;
        display:inline-block;
        border-radius:10px;
        box-shadow:10px 10px 20px #FF0000;
        font-family: 'Major Mono Display', monospace;
        font-size: 13px;
        font-weight: bold;
        color: #FF0000;
      }
      p {
        margin:15px 0 15px 0;
        padding-left: 10px;
        font-family: malgun gothic, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        text-align: justify;
        color: #000;
        line-height: 18px;
      }
      img {
        width:220px;
        height:auto;
        max-width:500px;
      }
      a:link, a:visited {
        padding:8px 8px 8px 8px;
        border-radius:10px;
        box-shadow:10px 10px 20px #0000FF;
        display:inline-block;
        color: #001eff;
        font-family: 'Major Mono Display', monospace;
        font-weight: bold;
        text-decoration: none;
      }
      a:hover {
        background:#00FF00;
        color: #fff;
        box-shadow:10px 10px 20px #00FF00;
      }
      a:active{
        background:#FF00FF;
        color: #fff;
        box-shadow:10px 10px 20px #FF00FF;
      }
      #quote1 {
        margin: 80px 30px 0 10px;
        position: relative;
        right: 50px;
      }
      #quote2 {
        margin: 500px 30px 0 10px;
      }
      #quote3 {
        margin: 800px 30px 0 10px;
      }
      .index_gallery {
        width: 180%
      }
      @media screen and (max-width: 600px){
        body {
          display: block;
          width: 200%
        }
        .mainbody {
          width:50%;
          position: -webkit-sticky;
          position: sticky;
          left: 0px;
        }
        .rightbody{
          width: 70%;
          position: absolute;
          left: 95%;
          top: 0;
        }
        .main {
          margin: 0 0 0 6%;
          max-width:85%;
        }
        .right {
          border-radius:10px;
          box-shadow:-10px 10px 20px #FFFF00;
          background-color: rgba(255, 255, 255, 1);
        }
        #quote1 {
          margin: 180px 30px 0 10px;
        }
        #quote2 {
          margin: 500px 30px 0 10px;
        }
        img {
          width:49%;
          height:auto;
          max-width:500px;
        }
        .index_gallery {
          width: 100%
        }
